{{#if alert}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
{{/if}}
</div>
<h1 class="mt-5" style="text-align: center;">Login</h1>
<form action="/" method="POST" class="d-flex justify-content-center mt-5">
    <div class="form-group">
        <div class="mb-3">
            <input type="email" class="form-control form-control-lg" id="email" placeholder="email" name="inputEmail" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control form-control-lg" id="password" placeholder="password" name="inputPassword" required>
        </div>
        <div class="col-auto d-flex mt-3">
            <button type="submit" class="btn btn-primary mb-3 m-auto">Sign in</button>
        </div>
    </div>
</form>