<h1 class="mt-5" style="text-align: center;">Login</h1>
<form action="/" method="POST" class="d-flex justify-content-center mt-5">
    <div class="form-group">
        <div class="mb-3">
            <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="email">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="password">
        </div>
        <div class="col-auto d-flex">
            <button type="submit" class="btn btn-primary mb-3 m-auto">Sign in</button>
        </div>
    </div>
</form>